@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;
    background:#a0ed34;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h3 {
    position: relative;
    font-size: 24px;
    color: green;
    font-weight: 500px;
    margin-bottom: 10px;
}

#form {
    position: relative;
    border: 2px solid #131313;
    background: linear-gradient(#1e2024,#18181c);
    border-radius: 8px;
    overflow: hidden;
}

#form #email {
    width:300px;
    outline: none;
    background: transparent;
    border: navajowhite;
    padding: 12px 15px;
    padding-right: 50px;
    color: oldlace;
    font-size: 18px;
}

#form .indicator {
    position: absolute;
    top:20px;
    right: 20px;
    width: 10px;
    height:10px;
    background: #555;
    border-radius: 50%;
}

#form.valid .indicator {
    background: #0f0;
    box-shadow: 0 0 05px #0f0,
                0 0 10px #0f0,
                0 0 20px #0f0,
                0 0 40px #0f0;
}

#form.invalid .indicator {
    background: #f00;
    box-shadow: 0 0 5px #f00,
                0 0 10px #f00,
                0 0 20px #f00,
                0 0 40px #f00;
}